sentence-transformers
pymilvus==2.2.8
pyyaml
watchdog
prometheus-client
torch>=2.0.0
transformers>=4.30.0
mlflow
minio>=7.1.15
langchain
openai>=0.27.0
fastapi
uvicorn
pydantic
langchain-openai
langchain-community
llama-parse
python-dotenv
ragas
apache-airflow